@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

*{
    margin : 0;
    padding : 0;
    font-family: 'Montserrat', sans-serif;
}

section{
    padding : 5em;
    height: calc(100vh - 10em);
    display: grid;
    grid-template-columns: 1fr 1fr;    
    justify-content: center;
    align-items: center;

    &:nth-child(2){
        background: #fff;
        h1{
            color:#010606;
            font-weight: bold;
        }
        p{
            color : #010606;
        }

    }

    &:nth-child(3){
        background: #FFCC33;
        clip-path: polygon(0 0, 100% 0, 100% 91%, 0% 100%);
        grid-template-areas: 'col1 col2';
        
        .imgWrapp{
            grid-area: col1;

            img{
                width: 400px;
            }
        }
        .sectionTwoWrapp{
            grid-area: col2;
        }


    }

    &:nth-child(4){
        background: #fff;
        font-weight: bold;

 
    }

    p{
        max-width: 550px;
    }

    h1{
        font-size: 2.5em;
        font-weight: 700;
        margin-bottom: 15px;
    }

    button{
        padding: 10px 25px;
        margin-top: 15px;
        border : 1px solid #010606;
        color : #010606;
        background: none;
        border-radius: 5px;

        &:hover{
            transition: all .2s ease-in-out;
            background: #010606;
            color: #fff;
            font-weight: bold;
        }
    }

}

@media  screen and (max-width : 760px) {
    section{
        &:nth-child(3){
            img{
                display: none;
            }
        }
    }
}